header {
    background-color: #1F2937;
    display: flex;
}
header > div {
    border: solid 1px #E5E7EB;
    font: 36px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    flex: auto;
}
.logo {
    font: 36px arial;
}
header div ul {
    float: right;
    flex: auto;
}
/* .mainBody{
    display: flex;
    text-align: center;
    align-items: center;
} */
.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    font: 800 48px roboto;
    justify-content: center;
    align-items: center;
    height: 500px;
    display: flex;
}
.hero > div {
    flex: auto;
}
p + p {
    font: 12px roboto;
}
.randomInfo {
    background-color: white;
    color: #1F2937;
    font: 800 36px roboto;
    justify-content: center;
    align-items: center;
    height: 500px;
    display: flex;
}
.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font: italic 36px roboto;
    justify-content: center;
    align-items: center;
    height: 500px;
    display: flex;
}
.signUp {
    background-color: white;
    color: blue;
    font: 800 36px roboto;
    justify-content: center;
    align-items: center;
    height: 500px;
    display: flex;
}
footer {
    background-color: #1F2937;
    font: roboto;
}